html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css' )
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin' )
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400&amp;subset=latin' )
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono&amp;subset=latin' )
  body
    #wrapper
      block content